@model TourBase_Stage_1_2.Stage

@{
    ViewData["Title"] = "Видалити етап";
}

<h1>Видалити етап</h1>

<h3>Ви впевненні, що хочете видалити цей етап?</h3>
<div>
    <h4>Етап</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.HotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.HotelName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.TourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.TransportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport.TransportName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StageId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до таблиці турів</a>
    </form>
</div>
