@model TourBase_Stage_1_2.Stage

@{
    ViewData["Title"] = "Інформація про етап";
}

<h1>Інформація про етап</h1>

<div>
    <h4>Етап</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.HotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.HotelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.TourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.TransportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport.TransportName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StageId">Виправити</a> |
    <a asp-action="Index">Назад до таблиці турів</a>
</div>
