@model TourBase_Stage_1_2.Tour

@{
    ViewData["Title"] = "Видалити тур";
}

<h1>Видалити тур</h1>

<h3>Ви впевненні, що хочете видалити цей тур?</h3>
<div>
    <h4>Тур</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TourId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до таблиці турів</a>
    </form>
</div>
