@model TourBase_Stage_1_2.Voucher

@{
    ViewData["Title"] = "Видалити ваучер";
}

<h1>Видалити ваучер</h1>

<h3>Ви впевненні, що хочете видалити цей ваучер?</h3>
<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOffDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOffDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.TourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tourist.TouristName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tourist.TouristName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VoucherId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до таблиці туристів</a>
    </form>
</div>
