@model IEnumerable<TourBase_Stage_1_2.Voucher>

@{
    ViewData["Title"] = "Ваучери";
}

<h1>Ваучери туриста @ViewBag.TouristName</h1>

<p>
    @*<a asp-action="Create">Створити новий ваучер</a>*@
    @Html.ActionLink("Створити новий ваучер", "Create", new { id = @ViewBag.touristid })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TakeOffDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.TourName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tourist.TouristName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TakeOffDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tourist.TouristName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoucherId">Виправити ваучер</a> |
                <a asp-action="Details" asp-route-id="@item.VoucherId">Інформація про ваучер</a> |
                <a asp-action="Delete" asp-route-id="@item.VoucherId">Видалити ваучер</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-area="" asp-controller="Tourists" asp-action="Index">Назад до таблиці туристів</a>
</div>