@model IEnumerable<TourBase_Stage_1_2.Tourist>

@{
    ViewData["Title"] = "Туристи";
}

<h1>Туристи</h1>

<p>
    <a asp-action="Create">Створити нового туриста</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TouristName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAdress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TouristName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAdress)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.TouristId">Виправити туриста</a> |*@
                <a asp-action="Details" asp-route-id="@item.TouristId">Подивитися ваучери даного туриста</a> |
                <a asp-action="Delete" asp-route-id="@item.TouristId">Видалити туриста</a>
            </td>
        </tr>
}
    </tbody>
</table>
